#post_content 
	%h1= @post.title
	%p= @post.content
	%p
	= @post.likes.count
	= (@post.likes.count) == 1 ? 'Like' : 'Likes'
	
	- pre_like = @post.likes.find { |like| like.user_id == current_user.id}
	- if pre_like
		= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete
	- else
		= button_to 'Like', post_likes_path(@post), method: :post


#comments
	%h2= @post.comments.count
	= render @post.comments

	%h3 Reply to thread
	= render "comments/form"

= link_to "Edit", edit_post_path(@post), class: "button"
= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to do this ?" }, class: "button"
